# Lab 4

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1by2cuk0hy29GOqVFV1B_NFD9U7vSGlnn?usp=sharing)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [2]:
new_york_city = {
    "latitude": 40.7128,
    "longitude": -74.0060,
    "population": 8336817,
    "area": 783.8
}
population_density = new_york_city["population"] / new_york_city["area"]
print(f"Population density of New York City: {population_density} people per square kilometer")
print(f"Coordinates of New York City: Latitude: {new_york_city['latitude']}, Longitude: {new_york_city['longitude']}")

Population density of New York City: 10636.408522582293 people per square kilometer
Coordinates of New York City: Latitude: 40.7128, Longitude: -74.006

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [3]:
city = "San Francisco"
print(city.lower())
print(city.upper())
print(city.replace("San", "Los"))

san francisco
SAN FRANCISCO
Los Francisco

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [32]:
cities = []
cities.append(("New York City", (40.7128, -74.0060)))
cities.append(("Los Angeles", (34.0522, -118.2437)))
cities.append(("Chicago", (41.8781, -87.6298)))
cities.append(("Miami", (25.7617, -80.1918)))
print(cities)
print(cities[:2])

[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437)), ('Chicago', (41.8781, -87.6298)), ('Miami', (25.7617, -80.1918))]
[('New York City', (40.7128, -74.006)), ('Los Angeles', (34.0522, -118.2437))]

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [7]:
eiffel_tower = (48.8584, 2.2945)
print(eiffel_tower[0])
print(eiffel_tower[1])
eiffel_tower[0] = 48.8585
#The value isn't changed because tuples do not support item assignment

48.8584
2.2945

TypeError: 'tuple' object does not support item assignment

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [8]:
places = {"USA", "France", "Germany"}
places.add("Canada")
places.add("Canada")
#You can't add duplicate values
print(places)

{'Germany', 'France', 'USA', 'Canada'}

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 mÂ³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [10]:
river = {
    "Name": "Amazon River",
    "Length": 6400,
    "Countries": ["Brazil", "Peru", "Colombia"]
}
river["Average Discharge"] = 209000
river["Length"] = 6992
river

{'Name': 'Amazon River',
 'Length': 6992,
 'Countries': ['Brazil', 'Peru', 'Colombia'],
 'Average Discharge': 209000}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [23]:
data = {"Name": "Tokyo",
        "Population": 13515271,
        "Coordinates": (35.6895, 139.6917)}

print(data["Name"])
print(data["Coordinates"][1])
data["Population"] = 14000000
print(data["Population"])

Tokyo
139.6917
14000000

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [35]:
city_names = [city[0] for city in cities]
city_names.sort()
city_names.pop()
city_names

['Chicago', 'Los Angeles', 'Miami']

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [37]:
print(river.keys())
print(river.values())

dict_keys(['Name', 'Length', 'Countries', 'Average Discharge'])
dict_values(['Amazon River', 6992, ['Brazil', 'Peru', 'Colombia'], 209000])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [38]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [39]:
location_names = [location[0] for location in locations]
location_names
location_dict = {location[0]: (location[1], location[2]) for location in locations}
location_dict["K2"]

(35.8808, 76.5155)

## Exercise 11: Manipulating Geographic Location Strings

- Create a string that represents the name of a geographic feature (e.g., `"Amazon River"`).
- Convert the string to lowercase and then to uppercase.
- Concatenate the string with the name of the country (e.g., `"Brazil"`) to create a full location name.
- Repeat the string three times, separating each repetition with a dash (`-`).

In [43]:
amazon = "Amazon River"
print(amazon.lower())
print(amazon.upper())
print(amazon + " Brazil")
print((amazon + "-") * 3)

amazon river
AMAZON RIVER
Amazon River Brazil
Amazon River-Amazon River-Amazon River-

## Exercise 12: Extracting and Formatting Coordinates

- Given a string with the format `"latitude, longitude"` (e.g., `"40.7128N, 74.0060W"`), extract the numeric values of latitude and longitude.
- Convert these values to floats and remove the directional indicators (`N`, `S`, `E`, `W`).
- Format the coordinates into a `POINT` WKT string (e.g., `"POINT(-74.0060 40.7128)"`).

In [55]:
new_york_city = "40.7128N, 74.0060W"
latitude, longitude = new_york_city.split(", ")
if latitude[-1] == "S":
    latitude = "-" + latitude[:-1]
elif longitude[-1] == "W":
    longitude = "-" + longitude[:-1]
latitude = float(latitude[:-1])

longitude = float(longitude[:-1])

print(f"POINT({longitude} {latitude})")

POINT(-74.006 40.7128)

## Exercise 13: Building Dynamic SQL Queries

- Given a table name and a condition, dynamically build an SQL query string.
- Example: If `table_name = "cities"` and `condition = "population > 1000000"`, the query should be `"SELECT * FROM cities WHERE population > 1000000;"`.
- Add additional conditions dynamically, like `AND` clauses.

In [57]:
table_name = "cities"
condition = "population = 'population > 100000'"
sql_query = f"SELECT * FROM {table_name} WHERE {condition};"
print(sql_query)

SELECT * FROM cities WHERE population = 'population > 100000';

## Exercise 14: String Normalization and Cleaning

- Given a list of city names with inconsistent formatting (e.g., `[" new york ", "Los ANGELES", "   CHICAGO"]`), normalize the names by:
  - Stripping any leading or trailing whitespace.
  - Converting them to title case (e.g., `"New York"`, `"Los Angeles"`, `"Chicago"`).
- Ensure that the output is a clean list of city names.

In [58]:
city_names = [" new york ", "Los ANGELES", "   CHICAGO"]
clean_city_names = [city.strip().title() for city in city_names]
clean_city_names

['New York', 'Los Angeles', 'Chicago']

## Exercise 15: Parsing and Extracting Address Information

- Given a string in the format `"Street, City, Country"` (e.g., `"123 Main St, Springfield, USA"`), write a function that parses the string into a dictionary with keys `street`, `city`, and `country`.
- The function should return a dictionary like `{"street": "123 Main St", "city": "Springfield", "country": "USA"}`.

In [59]:
address = "123 Main St, Springfield, USA"
def make_address(address):
    street, city, country = address.split(", ")
    return {"street": street, "city": city, "country": country}
make_address(address)

{'street': '123 Main St', 'city': 'Springfield', 'country': 'USA'}

## Exercise 16: Using For Loops to Process Coordinate Lists

- Create a list of tuples representing coordinates (latitude, longitude).
- Write a `for` loop that prints each coordinate and indicates whether it is in the Northern or Southern Hemisphere based on the latitude.

In [61]:
coords = [(40.7128, -74.0060), (-34.0522, -118.2437), (41.8781, 87.6298)]
for coord in coords:
    if coord[0] >= 0:
        print(f"{coord} is in the Northern Hemisphere")
    else:
        print(f"{coord} is in the Southern Hemisphere")

(40.7128, -74.006) is in the Northern Hemisphere
(-34.0522, -118.2437) is in the Southern Hemisphere
(41.8781, 87.6298) is in the Northern Hemisphere

## Exercise 17: While Loops for Iterative Processing

- Create a list of coordinates (latitude, longitude).
- Write a `while` loop that continues to print each coordinate until it encounters a coordinate with a negative latitude.
- Stop the loop once this condition is met.

In [62]:
coords = [(40.7128, -74.0060), (34.0522, -118.2437), (41.8781, 87.6298), (-34.0522, -118.2437)]
i = 0
while coords[i][0] >= 0:
    print(coords[i])
    i += 1

(40.7128, -74.006)
(34.0522, -118.2437)
(41.8781, 87.6298)

## Exercise 18: Conditional Logic in Loops

- Create a list of coordinates and use a `for` loop to iterate over them.
- Use an `if-elif-else` statement inside the loop to classify each coordinate based on its longitude:
  - Print `"Eastern Hemisphere"` if the longitude is greater than 0.
  - Print `"Western Hemisphere"` if the longitude is less than 0.

In [63]:
coords = [(40.7128, -74.0060), (34.0522, -118.2437), (41.8781, 87.6298)]
for coord in coords:
    if coord[1] > 0:
        print("Eastern Hemisphere")
    elif coord[1] < 0:
        print("Western Hemisphere")

Western Hemisphere
Western Hemisphere
Eastern Hemisphere

## Exercise 19: Filtering Data with Combined Loops and Conditionals

- Given a list of coordinates, filter out and store only those located in the Southern Hemisphere (latitude < 0).
- Count the number of coordinates that meet this condition and print the result.

In [65]:
coords = [(40.7128, -74.0060), (-34.0522, -118.2437), (-41.8781, 87.6298)]
southern_coords = []
for coord in coords:
    if coord[0] < 0:
        southern_coords.append(coord)
print(len(southern_coords))

2

## Exercise 20: Generating and Analyzing Random Coordinates

- Write a program that generates random coordinates (latitude between [-90, 90] degrees and longitude between [-180, 180] degrees).
- Use a `while` loop to keep generating coordinates until a pair with both latitude and longitude greater than 50 is generated.
- Print each generated coordinate and the final coordinate that meets the condition.

In [67]:
import random
ran_coords = []
while True:
    latitude = random.uniform(-90, 90)
    longitude = random.uniform(-180, 180)
    ran_coords.append((latitude, longitude))
    if latitude > 50 and longitude > 50:
        break
print(ran_coords)

[(-68.28815072252411, 102.23480588608294), (-45.855467453983344, 99.47598274883097), (-70.25008842989462, 159.34980984542347), (-12.035502103806337, 53.80296647185534), (-1.9855448484245386, -87.14284507767194), (-83.68145410838369, -137.0484010854144), (57.382495816748786, 176.10734160471094)]

## Submission Requirements

Complete the exercises above and and upload the notebook to your GitHub repository. Make sure the notebook has a Colab badge at the top so that it can be easily opened in Google Colab. Submit the URL of the notebook to Canvas.